.header {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.header__logo {
  width: 254px;
  height: 70px;
  margin-top: 34px;
}

@media screen and (max-width: 1024px) {
  .header__logo {
    padding-top: 30px;
  }
}

@media screen and (max-width: 540px) {
  .header__logo {
    padding-top: 20px;
    padding-inline: 66px;
    max-width: 188px;
  }
}
